{
  "all": true,
  "require": ["@babel/register"],
  "include": [
    "test/**/**.spec.js",
    "src/*.js"
  ],
  "exclude": [
    "src/.internal/*.js"
  ],
  "reporter": [
      "text",
      "lcov",
      "html",
      "json"
    ]
}